.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0 50px;
  height: 70px;
  border-bottom: 1px solid #919195;
  position: sticky;
  top: 0;
}

.menu ul {
  display: flex;
  flex-direction: row;
}

.menu li {
  list-style: none;
  margin-right: 25px;
  font-weight: 650;
  font-size: 16px;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon:hover,
.menu li :hover {
  color: #e5540a;
}
a {
  color: inherit;
  text-decoration: none;
}

.social {
  margin-left: 10px;
}

.icon {
  font-size: 18px;
}

.theme {
  font-size: 20px;
  margin-left: 35px;
  background-color: #d3d3d3;
  padding: 3px;
  border-radius: 6px;
  cursor: pointer;
}

.theme .sun {
  color: black;
}

.menu-icon {
  display: none;
}

/* Media Queries */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .social {
    display: none;
  }
  .menu {
    display: none;
  }
  .menu-icon {
    display: block;
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .header {
    padding: 0px 20px 0 10px;
    height: 60px;
  }
  .logo img {
    height: 50px;
    width: auto;
  }

  .social {
    display: none;
  }
  .menu {
    display: none;
  }
  .menu-icon {
    display: block;
  }
}
