.hero {
  display: flex;
  height: 95vh;
  border-bottom: 1px solid #919195;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  border-left: 1px solid #919195;
  border-right: 1px solid #919195;
  margin: 0 5%;
}

.hero-section-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  flex: 4;
  padding: 90px 0 0 8%;
}

.hero-text-title h1 {
  font-size: 90px;
  font-weight: 900;
  margin: 0px;
}

.hero-sub-text {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero-sub-text p {
  font-size: 30px;
  font-weight: 400;
}

.hero-sub-text p::after {
  content: "";
  display: inline-block;
  width: 120px;
  height: 1px;
  background-color: #919195;
  margin: 0 0 5px 15px;
}

.hero-sub-text hr {
  color: white;
  border: 0.2px solid rgb(228, 228, 228);
  width: 10%;
  margin-left: 20px;
}

.button {
  padding: 15px 30px;
  background-color: #131313;
  border: none;
  color: white;
}

.hero-section-image {
  height: 100%;
  flex: 3;
  overflow: hidden;
  padding-right: 8%;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
  filter: grayscale(100%);
}

/* Media Queries */

/* Laptop screens */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .hero-text-title h1 {
    font-size: 70px;
  }
}

/* Tablet screens */
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* CSS rules for tablet screens */
}

/* Phone screens */
@media screen and (max-width: 767px) {
  /* CSS rules for phone screens */
}
