.hero {
  display: flex;
  height: 850px;
  padding: 0 20px;
  border-bottom: 1px solid #919195;
}

.hero-container {
  display: flex;
  width: 100vw;
  border-left: 1px solid #919195;
  border-right: 1px solid #919195;
  margin: 0 50px;
}
