.mobile-menu {
  background-color: #888;
  height: 100vh;
  width: 300px;
  display: none;
}

.mobile-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 40px;
  border-bottom: 2px #919195 solid;
  padding: 0 20px;
  font-size: 16px;
}

/* Media Queries */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
  }
}

@media only screen and (max-width: 767px) {
  .mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
  }
}
